body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  flex: 1;
}

a {
  text-decoration: none;
}

.green {
  color: #4eaf0a;
}

.red {
  color: #e15241
}

.coinSymbol {
  font-weight: normal;
  font-size: 0.8em;
  margin-left: 5px;
  text-transform: uppercase;
}
